<div class="container">
    <div class="row" style="margin-top: 10px">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="thumbnail" style="margin-top: 10px; padding: 20px">
                <div class="media">
                    <div class="media-left">
                        <img src="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg" class="media-object" style="width:100px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>Lorem ipsum...</p>
                    </div>
                </div>
                <br>
                <a href="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg">
                    {{!-- Media object --}}
                    <img src="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg" alt="image" style="width:100%">
                    {{!-- -> --}}
                    <div class="caption">
                        <p>
                            <i>Posted on February 19, 2016</i>
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <b>Ho Chi Minh city</b>
                        </p>
                        <p>
                            afdasdfsafasdfhsadfhsadkfjhsdfkjshfasdnfaksdjfasjdflaskdjflkasdfjaskldfjaskdfjasldkfjasdlkfjasdfklasjdflkasdjfalskd asdfsadfsadfasdfsadfhasdfhsadfhasdfhaskdjfasdfasdfasdfsad
                        </p>
                        <div class="text-right">
                            <span>10000000 likes</span>
                            <span>100000 comments</span>
                        </div>
                    </div>
                </a>
                <hr>
                <a href="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg">
                    <img src="https://www.smashingmagazine.com/wp-content/uploads/2015/06/10-dithering-opt.jpg" alt="image" style="width:100%">
                    <div class="caption">
                        <p>
                            <i>Posted on February 19, 2016</i>
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <b>Ho Chi Minh city</b>
                        </p>
                        <p>
                            afdasdfsafasdfhsadfhsadkfjhsdfkjshfasdnfaksdjfasjdflaskdjflkasdfjaskldfjaskdfjasldkfjasdlkfjasdfklasjdflkasdjfalskd asdfsadfsadfasdfsadfhasdfhsadfhasdfhaskdjfasdfasdfasdfsad
                        </p>
                        <div class="text-right">
                            <span>10000000 likes</span>
                            <span>100000 comments</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>